html, body, #root {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 16px;
}

.timer-text {
  font-family: 'Roboto Mono'!important;
}

.icon-btn {
  padding: 0!important;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("./font/RobotoMono-Medium.ttf");
}
